<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.polotechnologies.polo.pwaniuniversity">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".SplashActivity"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".LoginActivity"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".MainActivity"
            android:launchMode="singleTop"/>
        <activity
            android:name=".AdmissionActivity"
            android:label="@string/title_activity_admission"
            android:parentActivityName=".MainActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.polotechnologies.polo.pwaniuniversity.MainActivity" />
        </activity>
        <activity
            android:name=".HostelBookingActivity"
            android:label="@string/title_activity_hostel_booking"
            android:parentActivityName=".MainActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.polotechnologies.polo.pwaniuniversity.MainActivity" />
        </activity>
        <activity
            android:name=".FinanceActivity"
            android:label="@string/title_activity_finance"
            android:parentActivityName=".MainActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.polotechnologies.polo.pwaniuniversity.MainActivity" />
        </activity>
        <activity
            android:name=".SemesterRegistrationActivity"
            android:label="@string/title_activity_semester_registration"
            android:parentActivityName=".MainActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.polotechnologies.polo.pwaniuniversity.MainActivity" />
        </activity>
        <activity
            android:name=".UnitRegistrationActivity"
            android:label="@string/title_activity_unit_registration"
            android:parentActivityName=".MainActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.polotechnologies.polo.pwaniuniversity.MainActivity" />
        </activity>
        <activity
            android:name=".ProfileActivity"
            android:label="@string/title_activity_profile"
            android:parentActivityName=".MainActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.polotechnologies.polo.pwaniuniversity.MainActivity" />
        </activity>
        <activity
            android:name=".ExamActivity"
            android:label="@string/title_activity_exam"
            android:parentActivityName=".MainActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.polotechnologies.polo.pwaniuniversity.MainActivity" />
        </activity>
        <activity
            android:name=".TimeTableActivity"
            android:label="@string/title_activity_time_table"
            android:theme="@style/AppTheme.NoActionBar"></activity>
    </application>

</manifest>